# NEXT_PUBLIC_API_URL
# - The base URL for API endpoints
# - Any valid URL string following the format: protocol://hostname:port/path
# - Example: http://localhost:5000/api/v1, https://api.example.com/v1
# - Required
NEXT_PUBLIC_API_URL=http://localhost:5000/api/v1

# NEXT_PUBLIC_GOOGLE_LOGIN_CALLBACK_URL
# - The redirect URL after Google OAuth login
# - The URL format must be {domain}/login/google-login-callback
# - Example: http://localhost:3000/login/google-login-callback, https://example.com/login/google-login-callback
# - Required
NEXT_PUBLIC_GOOGLE_LOGIN_CALLBACK_URL=http://localhost:3000/login/google-login-callback
